:root{
    --brand--jala-apps--jla-500: rgba(18, 88, 171, 1);
    --brand--jala-apps--jla-400: rgba(22, 100, 216, 1);
    --brand--jala-apps--jla-300: rgba(0, 131, 242, 1);
    --brand--jala-apps--jla-200: rgba(78, 163, 242, 1);
    --brand--jala-apps--jla-100: rgba(142, 197, 249, 1);
    --brand--jala-apps--jla-75: rgba(181, 215, 255, 1);
    --brand--jala-apps--jla-50: rgba(232, 240, 255, 1);
    --neutral---black: rgba(0, 0, 0, 1);
    --neutral--950: rgba(10, 10, 10, 1);
    --neutral--900: rgba(23, 23, 23, 1);
    --neutral--800: rgba(38, 38, 38, 1);
    --neutral--700: rgba(64, 64, 64, 1);
    --neutral--600: rgba(82, 82, 82, 1);
    --neutral--500: rgba(115, 115, 115, 1);
    --neutral--400: rgba(163, 163, 163, 1);
    --neutral--300: rgba(212, 212, 212, 1);
    --neutral--200: rgba(229, 229, 229, 1);
    --neutral--100: rgba(245, 245, 245, 1);
    --neutral--50: rgba(250, 250, 250, 1);
    --neutral---white: rgba(255, 255, 255, 1);
    --neutral--alpha--900a: rgba(10, 10, 10, 1);
    --neutral--alpha--800a: rgba(10, 10, 10, 0.949999988079071);
    --neutral--alpha--700a: rgba(10, 10, 10, 0.8899999856948853);
    --neutral--alpha--600a: rgba(10, 10, 10, 0.8199999928474426);
    --neutral--alpha--500a: rgba(10, 10, 10, 0.7699999809265137);
    --neutral--alpha--400a: rgba(10, 10, 10, 0.7099999785423279);
    --neutral--alpha--300a: rgba(10, 10, 10, 0.6600000262260437);
    --neutral--alpha--200a: rgba(10, 10, 10, 0.6000000238418579);
    --neutral--alpha--100a: rgba(10, 10, 10, 0.5400000214576721);
    --neutral--alpha--90a: rgba(10, 10, 10, 0.47999998927116394);
    --neutral--alpha--80a: rgba(10, 10, 10, 0.41999998688697815);
    --neutral--alpha--70a: rgba(10, 10, 10, 0.36000001430511475);
    --neutral--alpha--60a: rgba(10, 10, 10, 0.3100000023841858);
    --neutral--alpha--50a: rgba(10, 10, 10, 0.25);
    --neutral--alpha--40a: rgba(10, 10, 10, 0.12999999523162842);
    --neutral--alpha--30a: rgba(10, 10, 10, 0.07999999821186066);
    --neutral--alpha--20a: rgba(10, 10, 10, 0.03999999910593033);
    --neutral--alpha--10a: rgba(10, 10, 10, 0.019999999552965164);
    --blue--950: rgba(23, 37, 84, 1);
    --blue--900: rgba(30, 58, 138, 1);
    --blue--800: rgba(30, 64, 175, 1);
    --blue--700: rgba(29, 78, 216, 1);
    --blue--600: rgba(37, 99, 235, 1);
    --blue--500: rgba(59, 130, 246, 1);
    --blue--400: rgba(96, 165, 250, 1);
    --blue--300: rgba(147, 197, 253, 1);
    --blue--200: rgba(191, 219, 254, 1);
    --blue--100: rgba(219, 234, 254, 1);
    --blue--50: rgba(239, 246, 255, 1);
    --green--950: rgba(5, 46, 22, 1);
    --green--900: rgba(20, 83, 45, 1);
    --green--800: rgba(22, 101, 52, 1);
    --green--700: rgba(21, 128, 61, 1);
    --green--600: rgba(22, 163, 74, 1);
    --green--500: rgba(34, 197, 94, 1);
    --green--400: rgba(74, 222, 128, 1);
    --green--300: rgba(134, 239, 172, 1);
    --green--200: rgba(187, 247, 208, 1);
    --green--100: rgba(220, 252, 231, 1);
    --green--50: rgba(240, 253, 244, 1);
    --red--900: rgba(127, 29, 29, 1);
    --red--800: rgba(153, 27, 27, 1);
    --red--700: rgba(185, 28, 28, 1);
    --red--600: rgba(220, 38, 38, 1);
    --red--500: rgba(239, 68, 68, 1);
    --red--400: rgba(248, 113, 113, 1);
    --red--300: rgba(252, 165, 165, 1);
    --red--200: rgba(254, 202, 202, 1);
    --red--100: rgba(254, 226, 226, 1);
    --red--50: rgba(254, 242, 242, 1);
    --yellow--950: rgba(68, 37, 4, 1);
    --yellow--900: rgba(116, 71, 15, 1);
    --yellow--800: rgba(137, 87, 10, 1);
    --yellow--700: rgba(166, 112, 2, 1);
    --yellow--600: rgba(209, 156, 0, 1);
    --yellow--500: rgba(255, 213, 0, 1);
    --yellow--400: rgba(255, 228, 13, 1);
    --yellow--300: rgba(255, 243, 65, 1);
    --yellow--200: rgba(255, 253, 134, 1);
    --yellow--100: rgba(254, 255, 193, 1);
    --yellow--50: rgba(255, 255, 231, 1);
    --orange--950: rgba(67, 20, 7, 1);
    --orange--900: rgba(124, 45, 18, 1);
    --orange--800: rgba(154, 52, 18, 1);
    --orange--700: rgba(194, 65, 12, 1);
    --orange--600: rgba(234, 88, 12, 1);
    --orange--500: rgba(249, 115, 22, 1);
    --orange--400: rgba(251, 146, 60, 1);
    --orange--300: rgba(253, 186, 116, 1);
    --orange--200: rgba(254, 215, 170, 1);
    --orange--100: rgba(255, 237, 213, 1);
    --orange--50: rgba(255, 247, 237, 1);
    --cyan--950: rgba(8, 51, 68, 1);
    --cyan--900: rgba(22, 78, 99, 1);
    --cyan--800: rgba(21, 94, 117, 1);
    --cyan--700: rgba(14, 116, 144, 1);
    --cyan--600: rgba(8, 145, 178, 1);
    --cyan--500: rgba(6, 182, 212, 1);
    --cyan--400: rgba(34, 211, 238, 1);
    --cyan--300: rgba(103, 232, 249, 1);
    --cyan--200: rgba(165, 243, 252, 1);
    --cyan--100: rgba(207, 250, 254, 1);
    --cyan--50: rgba(236, 254, 255, 1);
    --violet--violet-50: rgba(245, 243, 255, 1);
    --violet--violet-100: rgba(237, 233, 254, 1);
    --violet--violet-200: rgba(221, 214, 254, 1);
    --violet--violet-300: rgba(196, 181, 253, 1);
    --violet--violet-400: rgba(167, 139, 250, 1);
    --violet--violet-500: rgba(139, 92, 246, 1);
    --violet--violet-600: rgba(124, 58, 237, 1);
    --violet--violet-700: rgba(109, 40, 217, 1);
    --violet--violet-800: rgba(91, 33, 182, 1);
    --violet--violet-900: rgba(76, 29, 149, 1);
    --violet--violet-950: rgba(46, 16, 101, 1);
    --background--color-bg-50: rgba(248, 248, 248, 1);
    --background--color-modal-bg-50: rgba(0, 0, 0, 0.4000000059604645);

    /* Text-size styles */
    --text-6xl: 48px;
    --text-5xl: 36px;
    --text-4xl: 30px;
    --text-3xl: 24px;
    --text-2xl: 20px;
    --text-xl: 18px;
    --text-lg: 16px;
    --text-md: 13px;
    --text-sm: 12px;
    --text-xs: 11px;
    --text-block--lg--regular: 16px;
    --text-block--lg--semibold: 16px;
    --text-block--lg--italic: 16px;
    --text-block--lg--underlined: 16px;
    --text-block--md--regular: 13px;
    --text-block--md--semibold: 13px;
    --text-block--md--italic: 13px;
    --text-block--md--underlined: 13px;
    --text-block--sm--regular: 12px;
    --text-block--sm--semibold: 12px;
    --text-block--sm--italic: 12px;
    --text-block--sm--underlined: 12px;
    --text-block--xs--regular: 10px;
    --text-block--xs--semibold: 10px;
    --text-block--xs--italic: 10px;
    --text-block--xs--underlined: 10px;
    --paragraph--large--regular: 16px;
    --paragraph--large--semibold: 16px;
    --paragraph--large--italic: 16px;
    --paragraph--large--underlined: 16px;
    --paragraph--md--regular: 13px;
    --paragraph--md--semibold: 13px;
    --paragraph--md--italic: 13px;
    --paragraph--md--underlined: 13px;
    --paragraph--sm--regular: 12px;
    --paragraph--sm--semibold: 12px;
    --paragraph--sm--italic: 12px;
    --paragraph--sm--underlined: 12px;
    --button--button-lg: 16px;
    --button--button-md: 13px;
    --button--button-sm: 12px;
    --button--button-li: 14px;
    --button--button-li-bold: 14px;
    --button--button-xl: 20px;
    --form--label-default: 13px;
    --form--form-label-bold: 13px;
    --form--form-label-optional: 13px;
    --form--form-placeholder: 13px;
    --form--secondary-desc: 12px;
    --code--code-md: 14px;
    --code--code-sm: 12px;
    --misc--keyboard: 10px;
    --misc--block-quote: 12px;

    /* border-radius */
    --jla-rounded-sm: 0.143rem;
    --jla-rounded: 0.286rem;
    --jla-rounded-md: 0.429rem;
    --jla-rounded-lg: 0.571rem;
    --jla-rounded-xl: 0.857rem;
    --jla-rounded-2xl: 1.143rem;
    --jla-rounded-3xl: 1.714rem;
    --jla-rounded-4xl: 2.286rem;
    --jla-rounded-5xl: 4.571rem;
    --jla-rounded-full: 714.214rem;

    /* border-width */
    --border-width: 0.0625rem; /* 1px */
    --border-i-width: 0.125rem; /* 2px */

    /* opacity */
    --opacity-moon: 0.6;

    /* fonts */
    --inter: 'Inter';
    --ui-serif: 'ui-serif';
    --ibm-mono-plex:'IBM Mono Plex';

    /* box-shadow */
    --shadow-xs: 0 4px 12px -6px rgb(0 0 0 / 0.06);
    --shadow-sm: 0 6px 6px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
    --shadow-md: 0 12px 12px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
    --shadow-lg: 0 8px 24px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
    --shadow-xl: 0 32px 32px -8px rgb(0 0 0 / 0.08),
    0 0 32px -8px rgb(0 0 0 / 0.12), 0 0 1px rgb(0 0 0 / 0.2);
}